html {
    width: 100%; 
    height: 1040px;
    border: rgb(0, 0, 0);
    border-style: solid;
}

body {
    width: 1810px; 
    height: 940px;
    border: rgb(0, 255, 34);
    border-style: solid;
    margin-top: 50px;
    margin-left: 40px;
}

header {
    width: 1720px; 
    height: 150px;
    border: rgb(255, 0, 0);
    border-style: solid;
    margin-left: 40px;
    margin-top: 70px;
}

nav {
    width: 360px; 
    height: 55px;
    border: rgb(0, 68, 255);
    border-style: solid;
    margin-left: 1320px;
    margin-top: 45px;
}

main {
    width: 1720px; 
    height: 499px;
    border: rgb(255, 0, 234);
    border-style: solid;
    margin-left: 40px;
    margin-top: 40px;
}

footer{
    width: 1720px; 
    height: 120px;
    border: rgb(255, 251, 0);
    border-style: solid;
    margin-left: 40px;
    margin-top: 15px;
}

section {
    width: 980px; 
    height: 460px;
    border: rgb(255, 187, 0);
    border-style: solid;
    margin-left: 70px;
    margin-top: 15px;
}

